{% extends "base.html" %} {% block title %}Add Plant{% endblock %} {% block
content %}
<h1 align="center">Add Plants</h1>
<form method="POST" action="/add-plants">
	<div class="form-group">
		<label for="plant_name">Plant Name</label>
		<input
			type="text"
			class="form-control"
			id="plant_name"
			name="plant_name"
			placeholder="Plant name"
		/>
	</div>

	<div class="form-group">
		<label for="previous_temp">Previous Temperature</label>
		<input
			type="text"
			class="form-control"
			id="previous_temp"
			name="previous_temp"
			placeholder="Previous Temperature"
		/>
	</div>

	<div class="form-group">
		<label for="current_temp">Current Temperature</label>
		<input
			type="text"
			class="form-control"
			id="current_temp"
			name="current_temp"
			placeholder="Current Temperature"
		/>
	</div>

	<div class="form-group">
		<label for="humidity">Humidity</label>
		<input
			type="text"
			class="form-control"
			id="humidity"
			name="humidity"
			placeholder="Humidity"
		/>
	</div>

	<div class="form-group">
		<label for="water_level">Water Level</label>
		<input
			type="text"
			class="form-control"
			id="water_level"
			name="water_level"
			placeholder="Water Level"
		/>
	</div>

	<div align="center">
		<button type="submit" class="btn btn-primary">Add Plant</button>
	</div>
</form>
{% endblock %}
