{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .current-plant-box {
        border: 2px solid teal;
        padding: 10px;
        margin-bottom: 20px;
    }
    .button 
    {
        background-color:dodgerblue;
        border:#008CBA;
        color: white;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        font-weight: 400;
    }

    .button1:hover 
    {
        background-color:blue;
        color: white;
        font-weight: 400;
    }
    .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    }

    .active, .collapsible:hover {
    background-color: #555;
    }

    .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    }
</style>

<h1 align="center" class="mb-3 mt-3">Home Page</h1>

{% if current_plant and current_plant.current == 1 %}
    <div class="current-plant-box">
        <h2>Current Plant: <strong>{{ current_plant.plant }}</strong></h2>
        <form action="" method="POST"> 
        <ul>
            {% if latest_distance is not none %}
            {% if latest_distance > 70 %}
                <li style="color: red; display: inline-block; background-color: white;"><strong>Water Tank Status: </strong> Refill water</li>
            {% else %}
                <li style="color: green; display: inline-block; background-color: white;"><strong>Water Tank Status: </strong> Good</li>
            {% endif %}
        {% else %}
            <li><strong>Water Level:</strong> No data available</li>
        {% endif %}
            {% if latest_temp is not none %}
                <li><strong>Temperature:</strong> {{ latest_temp }}°F</li>
            {% else %}
                <li><strong>Temperature:</strong> No data available</li>
            {% endif %}
            {% if latest_humidity is not none %}
                <li><strong>Humidity:</strong> {{ latest_humidity }}%</li>
            {% else %}
                <li><strong>Humidity:</strong> No data available</li>
            {% endif %}

            <li><strong>Date Added:</strong> {{ current_plant.date_added.strftime("%m/%d/%Y %H:%M:%S") }}</li>
        </ul>
            <div style="padding-left:40px">
                <input type="hidden" name="Update" value="Update">
                <button type="submit" class="button button1"> Update Readings </button>
            </div>
        </form>
    </div>
{% endif %}

<p><strong>Your Plant Collection</strong></p>
    <ul class="list-group list-group-flush" id="user_plants" style="border: 2x solid teal;">
        {% for user_plant in plants %}
            <li class="list-group-item d-flex justify-content-between align-items-center mb-1 dropdown-menu" 
                style="background-color: transparent; color:black; border: 1px solid teal; font-weight:600;">
                <details>
                    <summary>{{user_plant.plant}}</summary>
                    <h6 class="mt-2 "style="font-weight: 300;">Description: {{user_plant.plant_info.description}}</h6>
                    <h6 style="font-weight: 300">Sun requirements: {{user_plant.plant_info.sunlight_requirements}}</h6>
                </details>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <form method="POST" action="/set-current-plant">
                            <input type="hidden" name="current_plant" value="{{ user_plant.plant }}">
                            <button type="submit" class="btn btn-primary btn-sm">Set as Current</button>
                        </form>
                    
                        <form method="POST" action="/delete-plant">
                            <input type="hidden" name="plant_id" value="{{ user_plant.id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
            </li>
        {% endfor %}
    </ul>

</body>
{% endblock %}
