{% extends "base.html" %} {% block title %}Saved Searched Plants{% endblock %} {% block
content %}
<div class="container" style="margin-left: 100px;">
<table class="table" style="font-size: larger;">
  <thead>
    <tr>
      <th scope="col">Plant Name</th>
      <th scope="col">Date added to your database</th>
    </tr>
  </thead>
  {% for item in history %}
  <tbody>
    <td>{{ item.plant }}</td>
    <td>{{ item.date_added.strftime("%m/%d/%Y %I:%H:%M:%S %p") }}</td>    
  </tbody>
  {% endfor %}
</table>
</div>
{% endblock %}