{% extends "base.html" %} {% block title %}Add Plant{% endblock %} {% block
content %}
<h1 align="center">Plants</h1>
<ul class="list-group list-group-flush" id="plants">
	{% for plant in plants %}
	<div class="list-group-item">
		<label>Plant name:</label>
		<li>{{ plant.plant_name }}</li>
	</div>
	<div class="list-group-item">
		<label>Previous temperature:</label>
		<li>{{ plant.previous_temp }}</li>
	</div>
	<div class="list-group-item">
		<label>Current temperature:</label>
		<li>{{ plant.current_temp }}</li>
	</div>
	<div class="list-group-item">
		<label>Humidity:</label>
		<li>{{ plant.humidity }}</li>
	</div>
	<div class="list-group-item">
		<label>Water Level:</label>
		<li>{{ plant.water_level }}</li>
	</div>
	<div class="list-group-item">
		<label>Date:</label>
		<li>{{ plant.date }}</li>
	</div>
	{% endfor %}
</ul>
{% endblock %}
