{% extends "base.html" %}
{% block title %}Current Plants{% endblock %}
{% block content %}
<h1 align="center">Current Plants</h1>
<div id="plants">
    {% for plant in plants %}
    <div class="plant-details">
        <h2 class="centered">{{ plant.plant_name }}</h2>
        <h4>Sensor Readings</h4>
        <ul class="plant-traits">
            <li><strong>Previous temperature:</strong> {{ plant.previous_temp }}</li>
            <li><strong>Current temperature:</strong> {{ plant.current_temp }}</li>
            <li><strong>Humidity:</strong> {{ plant.humidity }}</li>
            <li><strong>Water Level:</strong> {{ plant.water_level }}</li>
            <li><strong>Last Updated:</strong> {{ plant.date }}</li>
        </ul>
        <h4>Current Care Plan</h4>
        <ul>
            <li><strong>Daily Water Sips:</strong> *sips*</li>
            <li><strong>Ideal Temperature:</strong> its freezing</li>
            <li><strong>Ideal Humidity:</strong> very moist</li>
        </ul>
    </div>
    {% endfor %}
</div>
<style>
    .centered {
        text-align: center;
    }
</style>
{% endblock %}


